<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="https://i.pinimg.com/736x/07/b7/02/07b70227102b55278288a156208aa635.jpg" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SC701C1.UI.styles.css" asp-append-version="true" />
    

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid justify-content-center">
                <!--<a class="navbar-brand me-4" asp-area="" asp-controller="Home" asp-action="Index">
                    SC701C1-Caso1
                </a>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-3">
                            <a class="nav-link text-dark text-center" asp-area="" asp-controller="Home" asp-action="Index"
                               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Inicio">
                                <i class="bi bi-house-door-fill fs-4 text-primary"></i>
                            </a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-dark text-center" asp-area="" asp-controller="Home" asp-action="Privacy"
                               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Privacidad">
                                <i class="bi bi-shield-lock-fill fs-4 text-secondary"></i>
                            </a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-dark text-center" asp-area="" asp-controller="Cliente" asp-action="Index"
                               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Clientes">
                                <i class="bi bi-people-fill fs-4 text-info"></i>
                            </a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-dark text-center" asp-area="" asp-controller="Vehiculo" asp-action="Index"
                               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Vehículos">
                                <i class="bi bi-car-front-fill fs-4 text-success"></i>
                            </a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link text-dark text-center" asp-area="" asp-controller="Cita" asp-action="Index"
                               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Citas">
                                <i class="bi bi-calendar-week fs-4 text-warning"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Brandon Aguirre Ortiz - SC701C1-Caso1
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- CSS de Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<!-- JS de Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.3.4/b-3.2.5/b-html5-3.2.5/date-1.6.1/r-3.0.7/sp-2.3.5/sl-3.1.3/datatables.min.css" rel="stylesheet" integrity="sha384-zPK2KXP5oqQ0RMAFCm5exkDJKLmRHrtXb6QrV0d0PjvYPcfjZaYQfcSRK9TK+sOy" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.3.4/b-3.2.5/b-html5-3.2.5/date-1.6.1/r-3.0.7/sp-2.3.5/sl-3.1.3/datatables.min.js" integrity="sha384-+SMDPVaDzPYgXmE1bQ7ZA3/7NMJ4ALowjcfnAhKcNtDftBFtsrY9W5bde5NVlu1I" crossorigin="anonymous"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
